body {
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

h1 {
    font-size: 3.8125rem;
    line-height: 4.6875rem;
    margin-top: 3.125rem;
    margin-bottom: 1.5625rem;
}

h2 {
    font-size: 2.5625rem;
    line-height: 3.125rem;
    margin-top: 4.6875rem;
    margin-bottom: 1.5625rem;
}

h3 {
    font-size: 1.6875rem;
    line-height: 3.125rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu {
    background: #fff;
}