/*
 * Imports and variables
 * base.css
 *
 */
 
@import '/source/normalize.css';
@import '/source/general_styling.css';
@import '/source/grid.css';
@import '/source/aligners.css';
@import '/source/menu.css';

:root {
    /* general_styling settings */
    --container-max-width: 1100px;

    /* Grid padding/margins */
    --padding: 1em; /* Must be a percentage value if you want IE10 compatability */
    --margin: 1em; /* Must be a percentage value if you want IE10 compatability */
    --vertical-padding: 1em; /* must NOT be a percentage value for compatability with proper specs and firefox */
    --vertical-margin: 1em; /* must NOT be a percentage value for compatability with proper specs and firefox */

    /* Grid/aligners breakpoint */
    --breakpoint-m: 1100px;
    --breakpoint-s: 800px;
    --breakpoint-xs: 500px;

    /* Menu settings */
    --breakpoint-menu: 1100px;
    --fixed-header-height: 10vh;
}

/* Your styles here */
