/* Flex Grid - grid.css */

*,
::after,
::before {
    box-sizing: border-box
}

.align,
.flex {
    display: flex
}

.flex>* {
    box-sizing: content-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0;
    padding: 0
}

.flex {
    flex-wrap: wrap;
    flex-direction: row
}

.padding>* {
    padding: 1em
}

.margin>* {
    margin: 1em
}

.no-grow {
    flex-grow: 0
}

.no-shrink {
    flex-shrink: 0
}

.col {
    flex-direction: column
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom,
.top,
.left,
.right,
.space-around,
.space-between {
    flex-direction: row
}

.right {
    justify-content: flex-end
}

.left {
    justify-content: flex-start
}

.top {
    align-items: flex-start
}

.bottom {
    align-items: flex-end
}

.space-around {
    justify-content: space-around
}

.space-between {
    justify-content: space-between
}

.flex.margin>.one,
.flex.padding>.one {
    flex-basis: calc(8.333333333% - 2em)
}

.flex.margin>.two,
.flex.padding>.two {
    flex-basis: calc(16.666666667% - 2em)
}

.flex.margin>.three,
.flex.padding>.three {
    flex-basis: calc(25% - 2em)
}

.flex.margin>.four,
.flex.padding>.four {
    flex-basis: calc(33.333333333% - 2em)
}

.flex.margin>.five,
.flex.padding>.five {
    flex-basis: calc(41.666666667% - 2em)
}

.flex.margin>.six,
.flex.padding>.six {
    flex-basis: calc(50% - 2em)
}

.flex.margin>.seven,
.flex.padding>.seven {
    flex-basis: calc(58.333333333% - 2em)
}

.flex.margin>.eight,
.flex.padding>.eight {
    flex-basis: calc(66.666666667% - 2em)
}

.flex.margin>.nine,
.flex.padding>.nine {
    flex-basis: calc(75% - 2em)
}

.flex.margin>.ten,
.flex.padding>.ten {
    flex-basis: calc(83.333333333% - 2em)
}

.flex.margin>.eleven,
.flex.padding>.eleven {
    flex-basis: calc(91.666666667% - 2em)
}

.flex.margin>.twelve,
.flex.padding>.twelve {
    flex-basis: calc(100% - 2em)
}

.flex.margin.padding>.one {
    flex-basis: calc(8.333333333% - 4em)
}

.flex.margin.padding>.two {
    flex-basis: calc(16.666666667% - 4em)
}

.flex.margin.padding>.three {
    flex-basis: calc(25% - 4em)
}

.flex.margin.padding>.four {
    flex-basis: calc(33.333333333% - 4em)
}

.flex.margin.padding>.five {
    flex-basis: calc(41.666666667% - 4em)
}

.flex.margin.padding>.six {
    flex-basis: calc(50% - 4em)
}

.flex.margin.padding>.seven {
    flex-basis: calc(58.333333333% - 4em)
}

.flex.margin.padding>.eight {
    flex-basis: calc(66.666666667% - 4em)
}

.flex.margin.padding>.nine {
    flex-basis: calc(75% - 4em)
}

.flex.margin.padding>.ten {
    flex-basis: calc(83.333333333% - 4em)
}

.flex.margin.padding>.eleven {
    flex-basis: calc(91.666666667% - 4em)
}

.flex.margin.padding>.twelve {
    flex-basis: calc(100% - 4em)
}

.flex>.one {
    flex-basis: 8.333333333%
}

.flex>.two {
    flex-basis: 16.666666667%
}

.flex>.three {
    flex-basis: 25%
}

.flex>.four {
    flex-basis: 33.333333333%
}

.flex>.five {
    flex-basis: 41.666666667%
}

.flex>.six {
    flex-basis: 50%
}

.flex>.seven {
    flex-basis: 58.333333333%
}

.flex>.eight {
    flex-basis: 66.666666667%
}

.flex>.nine {
    flex-basis: 75%
}

.flex>.ten {
    flex-basis: 83.333333333%
}

.flex>.eleven {
    flex-basis: 91.666666667%
}

.flex>.twelve {
    flex-basis: 100%
}

.flex>.fifth {
    flex-basis: 20%
}

.flex.margin.padding>.fifth {
    flex-basis: calc(20% - 4em)
}

.flex.margin>.fifth,
.flex.padding>.fifth {
    flex-basis: calc(20% - 2em)
}

@media(max-width:1100px) {
    .m-hide {
        display: none;
    }
    .m-block {
        display: block;
    }
    .m-inline {
        display: inline;
    }
    .m-inline-block {
        display: inline-block;
    }
    .m-align,
    .m-flex {
        display: flex
    }
    .m-flex>* {
        box-sizing: content-box;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin: 0
    }
    .m-flex {
        flex-wrap: wrap;
        flex-direction: row
    }
    .m-padding>* {
        padding: 1em
    }
    .m-margin>* {
        margin: 1em
    }
    .m-no-grow {
        flex-grow: 0
    }
    .m-no-shrink {
        flex-shrink: 0
    }
    .m-col {
        flex-direction: column
    }
    .m-center {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .m-bottom,
    .m-top,
    .m-left,
    .m-right,
    .m-space-around,
    .m-space-between {
        flex-direction: row
    }
    .m-right {
        justify-content: flex-end
    }
    .m-left {
        justify-content: flex-start
    }
    .m-top {
        align-items: flex-start
    }
    .m-bottom {
        align-items: flex-end
    }
    .m-space-around {
        justify-content: space-around
    }
    .m-space-between {
        justify-content: space-between
    }
    .flex.margin>.m-one,
    .flex.padding>.m-one {
        flex-basis: calc(8.333333333% - 2em)
    }
    .flex.margin>.m-two,
    .flex.padding>.m-two {
        flex-basis: calc(16.666666667% - 2em)
    }
    .flex.margin>.m-three,
    .flex.padding>.m-three {
        flex-basis: calc(25% - 2em)
    }
    .flex.margin>.m-four,
    .flex.padding>.m-four {
        flex-basis: calc(33.333333333% - 2em)
    }
    .flex.margin>.m-five,
    .flex.padding>.m-five {
        flex-basis: calc(41.666666667% - 2em)
    }
    .flex.margin>.m-six,
    .flex.padding>.m-six {
        flex-basis: calc(50% - 2em)
    }
    .flex.margin>.m-seven,
    .flex.padding>.m-seven {
        flex-basis: calc(58.333333333% - 2em)
    }
    .flex.margin>.m-eight,
    .flex.padding>.m-eight {
        flex-basis: calc(66.666666667% - 2em)
    }
    .flex.margin>.m-nine,
    .flex.padding>.m-nine {
        flex-basis: calc(75% - 2em)
    }
    .flex.margin>.m-ten,
    .flex.padding>.m-ten {
        flex-basis: calc(83.333333333% - 2em)
    }
    .flex.margin>.m-eleven,
    .flex.padding>.m-eleven {
        flex-basis: calc(91.666666667% - 2em)
    }
    .flex.margin>.m-twelve,
    .flex.padding>.m-twelve {
        flex-basis: calc(100% - 2em)
    }
    .flex.margin.padding>.m-one {
        flex-basis: calc(8.333333333% - 4em)
    }
    .flex.margin.padding>.m-two {
        flex-basis: calc(16.666666667% - 4em)
    }
    .flex.margin.padding>.m-three {
        flex-basis: calc(25% - 4em)
    }
    .flex.margin.padding>.m-four {
        flex-basis: calc(33.333333333% - 4em)
    }
    .flex.margin.padding>.m-five {
        flex-basis: calc(41.666666667% - 4em)
    }
    .flex.margin.padding>.m-six {
        flex-basis: calc(50% - 4em)
    }
    .flex.margin.padding>.m-seven {
        flex-basis: calc(58.333333333% - 4em)
    }
    .flex.margin.padding>.m-eight {
        flex-basis: calc(66.666666667% - 4em)
    }
    .flex.margin.padding>.m-nine {
        flex-basis: calc(75% - 4em)
    }
    .flex.margin.padding>.m-ten {
        flex-basis: calc(83.333333333% - 4em)
    }
    .flex.margin.padding>.m-eleven {
        flex-basis: calc(91.666666667% - 4em)
    }
    .flex.margin.padding>.m-twelve {
        flex-basis: calc(100% - 4em)
    }
    .flex>.m-one {
        flex-basis: 8.333333333%
    }
    .flex>.m-two {
        flex-basis: 16.666666667%
    }
    .flex>.m-three {
        flex-basis: 25%
    }
    .flex>.m-four {
        flex-basis: 33.333333333%
    }
    .flex>.m-five {
        flex-basis: 41.666666667%
    }
    .flex>.m-six {
        flex-basis: 50%
    }
    .flex>.m-seven {
        flex-basis: 58.333333333%
    }
    .flex>.m-eight {
        flex-basis: 66.666666667%
    }
    .flex>.m-nine {
        flex-basis: 75%
    }
    .flex>.m-ten {
        flex-basis: 83.333333333%
    }
    .flex>.m-eleven {
        flex-basis: 91.666666667%
    }
    .flex>.m-twelve {
        flex-basis: 100%
    }
    .flex>.m-fifth {
        flex-basis: 20%
    }
    .flex.margin.padding>.m-fifth {
        flex-basis: calc(20% - 4em)
    }
    .flex.margin>.m-fifth,
    .flex.padding>.m-fifth {
        flex-basis: calc(20% - 2em)
    }
}

@media(max-width:800px) {
    .s-hide {
        display: none;
    }
    .s-block {
        display: block;
    }
    .s-inline {
        display: inline;
    }
    .s-inline-block {
        display: inline-block;
    }
    .s-align,
    .s-flex {
        display: flex
    }
    .s-flex>* {
        box-sizing: content-box;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin: 0
    }
    .s-flex {
        flex-wrap: wrap;
        flex-direction: row
    }
    .s-padding>* {
        padding: 1em
    }
    .s-margin>* {
        margin: 1em
    }
    .s-no-grow {
        flex-grow: 0
    }
    .s-no-shrink {
        flex-shrink: 0
    }
    .s-col {
        flex-direction: column
    }
    .s-center {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .s-bottom,
    .s-top,
    .s-left,
    .s-right,
    .s-space-around,
    .s-space-between {
        flex-direction: row
    }
    .s-right {
        justify-content: flex-end
    }
    .s-left {
        justify-content: flex-start
    }
    .s-top {
        align-items: flex-start
    }
    .s-bottom {
        align-items: flex-end
    }
    .s-space-around {
        justify-content: space-around
    }
    .s-space-between {
        justify-content: space-between
    }
    .flex.margin>.s-one,
    .flex.padding>.s-one {
        flex-basis: calc(8.333333333% - 2em)
    }
    .flex.margin>.s-two,
    .flex.padding>.s-two {
        flex-basis: calc(16.666666667% - 2em)
    }
    .flex.margin>.s-three,
    .flex.padding>.s-three {
        flex-basis: calc(25% - 2em)
    }
    .flex.margin>.s-four,
    .flex.padding>.s-four {
        flex-basis: calc(33.333333333% - 2em)
    }
    .flex.margin>.s-five,
    .flex.padding>.s-five {
        flex-basis: calc(41.666666667% - 2em)
    }
    .flex.margin>.s-six,
    .flex.padding>.s-six {
        flex-basis: calc(50% - 2em)
    }
    .flex.margin>.s-seven,
    .flex.padding>.s-seven {
        flex-basis: calc(58.333333333% - 2em)
    }
    .flex.margin>.s-eight,
    .flex.padding>.s-eight {
        flex-basis: calc(66.666666667% - 2em)
    }
    .flex.margin>.s-nine,
    .flex.padding>.s-nine {
        flex-basis: calc(75% - 2em)
    }
    .flex.margin>.s-ten,
    .flex.padding>.s-ten {
        flex-basis: calc(83.333333333% - 2em)
    }
    .flex.margin>.s-eleven,
    .flex.padding>.s-eleven {
        flex-basis: calc(91.666666667% - 2em)
    }
    .flex.margin>.s-twelve,
    .flex.padding>.s-twelve {
        flex-basis: calc(100% - 2em)
    }
    .flex.margin.padding>.s-one {
        flex-basis: calc(8.333333333% - 4em)
    }
    .flex.margin.padding>.s-two {
        flex-basis: calc(16.666666667% - 4em)
    }
    .flex.margin.padding>.s-three {
        flex-basis: calc(25% - 4em)
    }
    .flex.margin.padding>.s-four {
        flex-basis: calc(33.333333333% - 4em)
    }
    .flex.margin.padding>.s-five {
        flex-basis: calc(41.666666667% - 4em)
    }
    .flex.margin.padding>.s-six {
        flex-basis: calc(50% - 4em)
    }
    .flex.margin.padding>.s-seven {
        flex-basis: calc(58.333333333% - 4em)
    }
    .flex.margin.padding>.s-eight {
        flex-basis: calc(66.666666667% - 4em)
    }
    .flex.margin.padding>.s-nine {
        flex-basis: calc(75% - 4em)
    }
    .flex.margin.padding>.s-ten {
        flex-basis: calc(83.333333333% - 4em)
    }
    .flex.margin.padding>.s-eleven {
        flex-basis: calc(91.666666667% - 4em)
    }
    .flex.margin.padding>.s-twelve {
        flex-basis: calc(100% - 4em)
    }
    .flex>.s-one {
        flex-basis: 8.333333333%
    }
    .flex>.s-two {
        flex-basis: 16.666666667%
    }
    .flex>.s-three {
        flex-basis: 25%
    }
    .flex>.s-four {
        flex-basis: 33.333333333%
    }
    .flex>.s-five {
        flex-basis: 41.666666667%
    }
    .flex>.s-six {
        flex-basis: 50%
    }
    .flex>.s-seven {
        flex-basis: 58.333333333%
    }
    .flex>.s-eight {
        flex-basis: 66.666666667%
    }
    .flex>.s-nine {
        flex-basis: 75%
    }
    .flex>.s-ten {
        flex-basis: 83.333333333%
    }
    .flex>.s-eleven {
        flex-basis: 91.666666667%
    }
    .flex>.s-twelve {
        flex-basis: 100%
    }
    .flex>.s-fifth {
        flex-basis: 20%
    }
    .flex.margin.padding>.s-fifth {
        flex-basis: calc(20% - 4em)
    }
    .flex.margin>.s-fifth,
    .flex.padding>.s-fifth {
        flex-basis: calc(20% - 2em)
    }
}

@media(max-width:550px) {
    .xs-hide {
        display: none
    }
    .xs-block {
        display: block
    }
    .xs-inline {
        display: inline
    }
    .xs-inline-block {
        display: inline-block
    }
    .xs-align,
    .xs-flex {
        display: flex
    }
    .xs-flex>* {
        box-sizing: content-box;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin: 0
    }
    .xs-flex {
        flex-wrap: wrap;
        flex-direction: row
    }
    .xs-padding>* {
        padding: 1em
    }
    .xs-margin>* {
        margin: 1em
    }
    .xs-no-grow {
        flex-grow: 0
    }
    .xs-no-shrink {
        flex-shrink: 0
    }
    .xs-col {
        flex-direction: column
    }
    .xs-center {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .xs-bottom,
    .xs-top,
    .xs-left,
    .xs-right,
    .xs-space-around,
    .xs-space-between {
        flex-direction: row
    }
    .xs-right {
        justify-content: flex-end
    }
    .xs-left {
        justify-content: flex-start
    }
    .xs-top {
        align-items: flex-start
    }
    .xs-bottom {
        align-items: flex-end
    }
    .xs-space-around {
        justify-content: space-around
    }
    .xs-space-between {
        justify-content: space-between
    }
    .flex.margin>.xs-one,
    .flex.padding>.xs-one {
        flex-basis: calc(8.333333333% - 2em)
    }
    .flex.margin>.xs-two,
    .flex.padding>.xs-two {
        flex-basis: calc(16.666666667% - 2em)
    }
    .flex.margin>.xs-three,
    .flex.padding>.xs-three {
        flex-basis: calc(25% - 2em)
    }
    .flex.margin>.xs-four,
    .flex.padding>.xs-four {
        flex-basis: calc(33.333333333% - 2em)
    }
    .flex.margin>.xs-five,
    .flex.padding>.xs-five {
        flex-basis: calc(41.666666667% - 2em)
    }
    .flex.margin>.xs-six,
    .flex.padding>.xs-six {
        flex-basis: calc(50% - 2em)
    }
    .flex.margin>.xs-seven,
    .flex.padding>.xs-seven {
        flex-basis: calc(58.333333333% - 2em)
    }
    .flex.margin>.xs-eight,
    .flex.padding>.xs-eight {
        flex-basis: calc(66.666666667% - 2em)
    }
    .flex.margin>.xs-nine,
    .flex.padding>.xs-nine {
        flex-basis: calc(75% - 2em)
    }
    .flex.margin>.xs-ten,
    .flex.padding>.xs-ten {
        flex-basis: calc(83.333333333% - 2em)
    }
    .flex.margin>.xs-eleven,
    .flex.padding>.xs-eleven {
        flex-basis: calc(91.666666667% - 2em)
    }
    .flex.margin>.xs-twelve,
    .flex.padding>.xs-twelve {
        flex-basis: calc(100% - 2em)
    }
    .flex.margin.padding>.xs-one {
        flex-basis: calc(8.333333333% - 4em)
    }
    .flex.margin.padding>.xs-two {
        flex-basis: calc(16.666666667% - 4em)
    }
    .flex.margin.padding>.xs-three {
        flex-basis: calc(25% - 4em)
    }
    .flex.margin.padding>.xs-four {
        flex-basis: calc(33.333333333% - 4em)
    }
    .flex.margin.padding>.xs-five {
        flex-basis: calc(41.666666667% - 4em)
    }
    .flex.margin.padding>.xs-six {
        flex-basis: calc(50% - 4em)
    }
    .flex.margin.padding>.xs-seven {
        flex-basis: calc(58.333333333% - 4em)
    }
    .flex.margin.padding>.xs-eight {
        flex-basis: calc(66.666666667% - 4em)
    }
    .flex.margin.padding>.xs-nine {
        flex-basis: calc(75% - 4em)
    }
    .flex.margin.padding>.xs-ten {
        flex-basis: calc(83.333333333% - 4em)
    }
    .flex.margin.padding>.xs-eleven {
        flex-basis: calc(91.666666667% - 4em)
    }
    .flex.margin.padding>.xs-twelve {
        flex-basis: calc(100% - 4em)
    }
    .flex>.xs-one {
        flex-basis: 8.333333333%
    }
    .flex>.xs-two {
        flex-basis: 16.666666667%
    }
    .flex>.xs-three {
        flex-basis: 25%
    }
    .flex>.xs-four {
        flex-basis: 33.333333333%
    }
    .flex>.xs-five {
        flex-basis: 41.666666667%
    }
    .flex>.xs-six {
        flex-basis: 50%
    }
    .flex>.xs-seven {
        flex-basis: 58.333333333%
    }
    .flex>.xs-eight {
        flex-basis: 66.666666667%
    }
    .flex>.xs-nine {
        flex-basis: 75%
    }
    .flex>.xs-ten {
        flex-basis: 83.333333333%
    }
    .flex>.xs-eleven {
        flex-basis: 91.666666667%
    }
    .flex>.xs-twelve {
        flex-basis: 100%
    }
    .flex>.xs-fifth {
        flex-basis: 20%
    }
    .flex.margin.padding>.xs-fifth {
        flex-basis: calc(20% - 4em)
    }
    .flex.margin>.xs-fifth,
    .flex.padding>.xs-fifth {
        flex-basis: calc(20% - 2em)
    }
}
